# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Precompilled headers and other
*.gch
*.i
*.ii
*.s

# Executables
*.exe

# Other
*.old
*.txt
*.out
